body {
    font-family: "Monsterrat", Helvetica, sans-serif;
    background-color: #2E294E;
    max-width: 75ch;
    margin: auto;
}

h1 {
    color: #C5D86D;
    font-family: "Press Start 2P", Helvetica, sans-serif;
    font-size: 2.5em; /*target 40px*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

@media only screen and (min-width: 40rem) {
    ul {
        columns: 2;
        column-gap: 10%;
        break-inside: avoid-column;
        column-rule: 2px solid #C5D86D;
    }
}

li {
    margin: 1em; /*target 16px*/
}

a {
    /* border: 1px solid red; */
    color: #C5D86D;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    letter-spacing: 0.02em;
}

a:hover {
    color: #fff;
}
